{% extends 'base.html.twig' %}

{% block subtitle %}Form Sample{% endblock %}

{% block content %}
    {% include 'widgets/tabs.html.twig' %}

    <div class="row">
        <div class="col-12 col-lg-9 col-xl-6">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
