@import "variables";

.form-group {
    // for form/layout
    & > .form-control-label,
    & > .col-form-legend,
    // for form/horizontal_layout
    & > .col-form-label,
    & > .row > .col-form-legend {
        &.required {
            &:after {
                content: " *";
                color: $color-danger;
            }
        }
    }
    & .form-check-label[class$="-inline"]:not(:last-child) {
        margin-right: 1em;
    }
}
